.leftCorner
{
	position: fixed;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
	background: #D87779;
	z-index: 0;
}
.rightCorner
{
	position: fixed;
	width: 22px;
	height: 22px;
	right: 0px;
	top: 0px;
	background: #D87779;
	z-index: 0;
}