.leftCorner
{
	position: fixed;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
	background: rgb(143,255,178); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzhmZmZiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2MzZmZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2MzZmZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(143,255,178,1) 32%, rgba(195,255,209,1) 54%, rgba(195,255,209,1) 76%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(32%,rgba(143,255,178,1)), color-stop(54%,rgba(195,255,209,1)), color-stop(76%,rgba(195,255,209,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(143,255,178,1) 32%,rgba(195,255,209,1) 54%,rgba(195,255,209,1) 76%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(143,255,178,1) 32%,rgba(195,255,209,1) 54%,rgba(195,255,209,1) 76%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(143,255,178,1) 32%,rgba(195,255,209,1) 54%,rgba(195,255,209,1) 76%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(143,255,178,1) 32%,rgba(195,255,209,1) 54%,rgba(195,255,209,1) 76%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fffb2', endColorstr='#c3ffd1',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	z-index: 0;
}
.rightCorner
{
	position: fixed;
	width: 22px;
	height: 22px;
	right: 0px;
	top: 0px;
	background: rgb(195,255,209); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2MzZmZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2MzZmZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iIzhmZmZiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(195,255,209,1) 24%, rgba(195,255,209,1) 46%, rgba(143,255,178,1) 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(24%,rgba(195,255,209,1)), color-stop(46%,rgba(195,255,209,1)), color-stop(68%,rgba(143,255,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(195,255,209,1) 24%,rgba(195,255,209,1) 46%,rgba(143,255,178,1) 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(195,255,209,1) 24%,rgba(195,255,209,1) 46%,rgba(143,255,178,1) 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(195,255,209,1) 24%,rgba(195,255,209,1) 46%,rgba(143,255,178,1) 68%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(195,255,209,1) 24%,rgba(195,255,209,1) 46%,rgba(143,255,178,1) 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ffd1', endColorstr='#8fffb2',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	z-index: 0;
}